@using AdminWatchServer.Models

<FluentCard>
    <h4>Informacje o urządzeniu</h4>
    <table width="100%">
        <DeviceInfoMonitorEntry
            Title="System operacyjny"
            Content="@DeviceInfo.Os"
            Icon="@(new Icons.Regular.Size20.Cube())"/>
        <DeviceInfoMonitorEntry
            Title="Adres IP"
            Content="@DeviceInfo.Ip"
            Icon="@(new Icons.Regular.Size20.PlugConnected())"/>
        <DeviceInfoMonitorEntry
            Title="Nazwa procesora"
            Content="@DeviceInfo.ProcessorName"
            Icon="@(new Icons.Regular.Size20.DeveloperBoard())"/>
        <DeviceInfoMonitorEntry
            Title="Pamięć fizyczna"
            Content="@GetTotalMemory()"
            Icon="@(new Icons.Regular.Size20.Ram())"/>        
        <DeviceInfoMonitorEntry
            Title="Producent"
            Content="@DeviceInfo.Manufacturer"
            Icon="@(new Icons.Regular.Size20.Building())"/>       
        @if (DeviceInfo.Battery != 0)
        {
            <DeviceInfoMonitorEntry
                Title="Bateria"
                Content="@DeviceInfo.Battery.ToString()"
                Icon="@(new Icons.Regular.Size20.Battery0())"/>
        }
    </table>
</FluentCard>

@code {

    [Parameter] public required DeviceInfo DeviceInfo { get; set; }


    private string GetTotalMemory()
        => $"{DeviceInfo.TotalMemory} GiB";

}